# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
xcuserdata
*.xcworkspace

# svn & cvs
.svn
CVS

#locks
*.lock
Pods/*
Podfile.lock
Words.xcodeproj/project.xcworkspace/xcuserdata/tkorchagin.xcuserdatad/UserInterfaceState.xcuserstate
